<div class="container-fluid">
    <h1 class="text-center my-4">Guide List</h1>

    <div class="row">
        <div class="col-md-10 offset-md-1 my-2 white-background" id="guideTables">
            <div class="d-flex justify-content-end my-3" style="width:100%;">
                <%=button_to "Reset All Guides' Points", users_reset_points_path, method: :get, class: "btn btn-danger btn rounded-2 shadow-none", onclick: "return confirm('Are you sure you want to reset all points to 0?')"%>
            </div>
            <button class="myBtn btn btn-primary shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#allGuides" aria-expanded="true" aria-controls="allGuides">
                All Users
            </button>
            <button class="myBtn btn btn-primary shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#adminGuides" aria-expanded="false" aria-controls="adminGuides">
                Admin Users
            </button>
            <button class="myBtn btn btn-primary shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#normalGuides" aria-expanded="false" aria-controls="normalGuides">
                Non-Admin Users
            </button>
            <div class="collapse show" id="allGuides" data-bs-parent="#guideTables" style="overflow-x:auto; max-height:42vh;">
                <table class="table table-bordered">
                    <thead style="position:sticky; top:-0.1%; box-shadow: inset 1px 1px #000, 0 1px #000;">
                        <tr>
                            <th>Guide Name</th>
                            <th>Guide Email</th>
                            <th class="text-center">Guide Points</th>
                            <th class="text-center">Absences</th>
                            <th class="text-center">Admin?</th>
                            <th class="text-center">Change Admin Status</th>
                            <th class="text-center">Delete Guide</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% User.order(:last_name).all.each do |user| %>
                            <tr>
                                <td>
                                    <%= user.name_display %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td class="text-center">
                                    <%= form_with url: "change_points/#{user.id}", method: :patch do |form| %>
                                        <%= form.number_field :points, value: user.points %>
                                        <%= form.submit "Submit Edit", class: 'submit-edit' %>
                                    <% end %>
                                </td>
                                <td class="text-center">
                                    <%= user.absences %>
                                </td>
                                <td class="text-center">
                                    <% if user.administrator %>
                                        Yes
                                    <% else %>
                                        No
                                    <% end %>
                                </td>
                                <td class="text-center">
                                    <% if user.administrator %>
                                        <a href=<%= "revoke_admin/#{user.id}" %> class="btn btn-primary btn-sm rounded-2 shadow-none" onclick="return confirm('Are you sure you want to revoke admin status from this user?')">
                                        Revoke Admin
                                        </a>
                                    <% else %>
                                        <a href=<%= "make_admin/#{user.id}" %> class="btn btn-primary btn-sm rounded-2 shadow-none" onclick="return confirm('Are you sure you want to give this user admin status?')">
                                        Make Admin
                                        </a>
                                    <% end %>
                                </td>
                                <td class="text-center">
                                    <a href=<%= "#{user.id}" %> class="btn btn-danger btn-sm rounded-2 shadow-none" onclick="return confirm('Are you sure you want to delete this user?')">
                                    Delete
                                    </a>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="collapse" id="adminGuides" data-bs-parent="#guideTables" style="overflow-x:auto; max-height:42vh;">
                <table class="table table-bordered">
                    <thead style="position:sticky; top:-0.1%; box-shadow: inset 1px 1px #000, 0 1px #000;">
                        <tr>
                            <th>Guide Name</th>
                            <th>Guide Email</th>
                            <th class="text-center">Guide Points</th>
                            <th class="text-center">Absences</th>
                            <th class="text-center">Admin?</th>
                            <th class="text-center">Change Admin Status</th>
                            <th class="text-center">Delete Guide</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% User.order(:last_name).all.select{|user| user.administrator}.each do |user| %>
                            <tr>
                                <td>
                                    <%= user.name_display %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td class="text-center">
                                    <%= user.points %>
                                </td>
                                <td class="text-center">
                                    <%= user.absences %>
                                </td>
                                <td class="text-center">
                                    <% if user.administrator %>
                                        Yes
                                    <% else %>
                                        No
                                    <% end %>
                                </td>
                                <td class="text-center">
                                    <% if user.administrator %>
                                        <a href=<%= "revoke_admin/#{user.id}" %> class="btn btn-primary btn-sm rounded-2 shadow-none" onclick="return confirm('Are you sure you want to revoke admin status from this user?')">
                                        Revoke Admin
                                        </a>
                                    <% else %>
                                        <a href=<%= "make_admin/#{user.id}" %> class="btn btn-primary btn-sm rounded-2 shadow-none" onclick="return confirm('Are you sure you want to give this user admin status?')">
                                        Make Admin
                                        </a>
                                    <% end %>
                                </td>
                                <td class="text-center">
                                    <a href=<%= "#{user.id}" %> class="btn btn-danger btn-sm rounded-2 shadow-none" onclick="return confirm('Are you sure you want to delete this user?')">
                                    Delete
                                    </a>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="collapse" id="normalGuides" data-bs-parent="#guideTables" style="overflow-x:auto; max-height:42vh;">
                <table class="table table-bordered">
                    <thead style="position:sticky; top:-0.1%; box-shadow: inset 1px 1px #000, 0 1px #000;">
                        <tr>
                            <th>Guide Name</th>
                            <th>Guide Email</th>
                            <th class="text-center">Guide Points</th>
                            <th class="text-center">Absences</th>
                            <th class="text-center">Admin?</th>
                            <th class="text-center">Change Admin Status</th>
                            <th class="text-center">Delete Guide</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% User.order(:last_name).all.select{|user| !user.administrator}.each do |user| %>
                            <tr>
                                <td>
                                    <%= user.name_display %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td class="text-center">
                                    <%= user.points %>
                                </td>
                                <td class="text-center">
                                    <%= user.absences %>
                                </td>
                                <td class="text-center">
                                    <% if user.administrator %>
                                        Yes
                                    <% else %>
                                        No
                                    <% end %>
                                </td>
                                <td class="text-center">
                                    <% if user.administrator %>
                                        <a href=<%= "revoke_admin/#{user.id}" %> class="btn btn-primary btn-sm rounded-2 shadow-none" onclick="return confirm('Are you sure you want to revoke admin status from this user?')">
                                        Revoke Admin
                                        </a>
                                    <% else %>
                                        <a href=<%= "make_admin/#{user.id}" %> class="btn btn-primary btn-sm rounded-2 shadow-none" onclick="return confirm('Are you sure you want to give this user admin status?')">
                                        Make Admin
                                        </a>
                                    <% end %>
                                </td>
                                <td class="text-center">
                                    <a href=<%= "#{user.id}" %> class="btn btn-danger btn-sm rounded-2 shadow-none" onclick="return confirm('Are you sure you want to delete this user?')">
                                    Delete
                                    </a>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>