<h1 class="text-center my-4">Sign Up</h1>
<div class="d-flex justify-content-center">
    <div>
        <%= form_with model: @user, url: signup_path do |f| %>
            <%= f.label 'first_name' %><br>
            <%= f.text_field :first_name, value: nil %><br>
            <%= f.label 'last_name' %><br>
            <%= f.text_field :last_name, value: nil %><br>
            <%= f.label 'email' %><br>
            <%= f.email_field :email %><br>
            <%= f.label 'password' %><br>
            <%= f.password_field :password %><br>
            <%= f.label 'password_confirmation' %><br>
            <%= f.password_field :password_confirmation %><br><br>
            <div class="text-center">
                <%= f.submit 'Sign Up', class: "btn btn-primary my-1 shadow-none" %>
            </div>
        <% end %>
    </div>
</div>