<div class="container-fluid">
  <h1 class="text-center my-4">Tour Schedule</h1>
  <br/>

  <% cur_user = User.find(session[:user_id]) %>

    <div class="table white-background" style="overflow-x:auto">
      <%= month_calendar(events: cur_user.tours, attribute: :time) do |date, tours| %>
        <div>
          <%= date.day %>
        </div>
        <br/>
          <% tours.each do |tour| %>
            <li class="list-group-item list-group-item-action list-group-item-dark" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown<%= tour.id %>">
              <%= tour.time_display %>
            </li>
            <div class="dropdown-menu" aria-labelledby="dropdown<%= tour.id %>" style="padding:10px;">
              <%= simple_format(tour.details_display) %>
            </div>
          <% end %>
        <br/>
      <% end %>
    </div>
  </div>
</div>