<h1 class="text-center my-4">Manage Guides</h1>
<div class="row">
    <div class="col-md-5 offset-md-1 mb-5 mb-lg-0">
        <h3 class="text-center">Guides on Tour</h3>
        <%= form_tag "/remove_guide" do %>
            <%= hidden_field_tag :tour , @tour.id %>
            <table class="table table-bordered text-center">
                <tbody>
                    <%= collection_check_boxes(:user, :user_ids, @tour.users.order(:last_name).all.each, :id, :name_display) do |user| %>
                        <tr>
                            <td>
                                <%= user.label %>
                            </td>
                            <td>
                                <%= user.check_box({class: "btn-check"}) %>
                                <label class="btn btn-outline-primary shadow-none" for="user_user_ids_<%= user.value %>">Remove</label>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <% if @tour.users.size == 0 %>
                <h5 class="text-center">
                    There are no guides on this tour
                </h5>
            <% else %>
                <div class="text-center">
                    <%= submit_tag "Remove from Tour", class: "btn btn-primary my-1 shadow-none" %>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="col-md-5 mb-3 mb-lg-0">
        <h3 class="text-center">Guides Not on Tour</h3>
        <%= form_tag "/add_guide" do %>
            <%= hidden_field_tag :tour , @tour.id %>
            <table class="table table-bordered text-center">
                <tbody>
                    <%= collection_check_boxes(:user, :user_ids, User.order(:last_name).all.select{|user| !@tour.users.member?(user)}, :id, :name_display) do |user| %>
                        <tr>
                            <td>
                            <%= user.label %>
                            </td>
                            <td>
                            <%= user.check_box({class: "btn-check"}) %>
                            <label class="btn btn-outline-primary shadow-none" for="user_user_ids_<%= user.value %>">Add</label>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <% if User.all.select{|user| !@tour.users.member?(user)}.size == 0 %>
                <h5 class="text-center">
                    All guides are assigned to this tour
                </h5>
            <% else %>
                <div class="text-center">
                    <%= submit_tag "Add to Tour", class: "btn btn-primary my-1 shadow-none" %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>