<div class="text-center">
    <h1>New Tour</h1>
    <%= form_with model: @tour, url: tours_create_path do |f| %>
        <%= f.label 'time' %><br>
        <%= f.datetime_field :time %><br><br>
        <%= f.label 'hours' %><br>
        <%= f.number_field :hours %><br><br>
        <%= f.label 'guides' %><br>
        <%= f.number_field :min_guides %><br><br>
        <%= f.label 'location' %><br>
        <%= f.select :location, ['SLC', 'HOG', 'Sarratt', 'Other'] %><br><br>
        <%= f.label 'note' %><br>
        <%= f.text_field :note %><br><br>
        <%= f.label 'weekly?' %>
        <%= f.check_box :weekly %><br><br>
        <%= f.label 'weeks' %><br>
        <%= f.number_field :weeks %><br><br>
        <%= f.submit 'Create Tour' %>
    <% end %>
</div>