<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <%= image_tag "VUTG_Logo.png", :class => "navbar-brand" %>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Availability", users_availability_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Schedule", users_profile_path, class: "nav-link" %>
      </li>
    </ul>

    <ul class="nav navbar-nav">
      <% if !logged_in? %>
        <li class="nav-item">
          <%= link_to "Sign Up", signup_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log In", login_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
</nav>