<div class="row">  
  <nav class="navbar navbar-expand-lg navbar-light dropdown">
      <div class="navbar-brand">
          <%= image_tag "VUTG_Logo.png", :class => "navbar-brand" %>
      </div>

      <button class="navbar-toggler" type="button" id="navbarCollapse" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="nav navbar-nav">
          <% if logged_in? %>
            <% if administrator? %>
              <li class="nav-item dropdown show">
                <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/tours/new">Tour Creator</a>
                  <a class="dropdown-item" href="/tours/manage">Tour Manager</a>
                  <a class="dropdown-item" href="/users/list">Guide List</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/tours/scheduler">Scheduler</a>
                </div>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Availability", users_availability_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Schedule", users_profile_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Points", users_points_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sub Board", users_subboard_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Check In", users_check_in_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav ms-auto">
          <% if logged_in? %>
            <li class="nav-item dropdown show">
              <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <%= "#{current_user.first_name} #{current_user.last_name}" %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href=logout_path>Log Out</a>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign Up", signup_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log In", login_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
  </nav>
</div>